<div class="top">

  <div class="container" id="top" #top>

    <div class="sidenav-overlay"
      [ngClass]="showLoader ? 'push-front artwork-card animate__animated animate__fadeIn' : 'push-back artwork-card animate__animated animate__fadeOut'">
      <div class="loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <section class="mt-20 txt-r" *ngIf="pagination">
      <div class="items-found">
        <span class="items-nbr">{{ pagination?.total_items }}</span>
        <span class="items-nbr-label">items found</span>
      </div>
    </section>

    <section *ngIf="pagination" class="mb-50">
      <div class="row">
        <div
          *ngFor="let artwork of artworksList$ | async | paginate: { id: 'artworks-pagination', itemsPerPage: pagination?.limit, currentPage: currentFilters.page, totalItems: pagination?.total_items }"
          class="artwork">
          <app-artwork-card [artwork]="artwork"></app-artwork-card>
        </div>
      </div>
      <div class="pagination">
        <div class="paging-controls">
          <pagination-controls id="artworks-pagination" (pageChange)="changePage($event)"></pagination-controls>
        </div>
      </div>
    </section>

  </div>

</div>