<div class="top">

  <div class="container" id="top" #top>

    <div class="sidenav-overlay"
      [ngClass]="showLoader ? 'push-front artwork-card animate__animated animate__fadeIn' : 'push-back artwork-card animate__animated animate__fadeOut'">
      <div class="loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>

    <section class="mt-20 txt-r" *ngIf="pagination" class="sub-header">
      <div class="showFilters">
        <button mat-raised-button (click)="toggleSidenavStatus();">
          <mat-icon [@rotateFilterIcon]=isSidenavOpen>keyboard_arrow_right</mat-icon>
          {{ !isSidenavOpen ? 'Show filters' : 'Hide Filters' }}
        </button>
      </div>
      <div class="items-count">
        <app-items-found [itemsFound]="pagination?.total_items"></app-items-found>
      </div>
    </section>

    <section *ngIf="pagination" class="mb-50">
      <div class="row">
        <div
          *ngFor="let artwork of artworksList$ | async | paginate: { id: 'artworks-pagination', itemsPerPage: pagination?.limit, currentPage: currentFilters.page, totalItems: pagination?.total_items }"
          class="artwork">
          <app-artwork-card [artwork]="artwork"></app-artwork-card>
        </div>
      </div>
      <div class="pagination">
        <div class="paging-controls">
          <pagination-controls id="artworks-pagination" (pageChange)="changePage($event)"></pagination-controls>
        </div>
      </div>
    </section>

  </div>

</div>