.loader {
  position: fixed;
  height: 100px;
  width: 100px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}

.artwork {
  min-height: 200px;
  padding: 5px;
  width: 20%;
}

.pagination {
  text-align: center;
  margin: 30px 0;
  padding-bottom: 30px;
}

.paging-controls {
  width: 100%;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.push-front {
  z-index: 24;
}

.push-back {
  z-index: -1;
}

.items-nbr {
  font-size: x-large;
}

.items-nbr-label {
  margin-left: 10px;
  font-size: large;
}

@media screen and (max-width: 991px) {
  .artwork {
    width: 33.33%;
  }
}

@media screen and (max-width: 767px) {
  .artwork {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .artwork {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .artwork {
    width: 100%;
  }
}
