<div class="sidenav-overlay" id="overlay" #overlay
  [ngClass]="showLoader ? 'push-front artwork-card animate__animated animate__fadeIn' : 'push-back artwork-card animate__animated animate__fadeOut'">
  <div class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<div class="top" id="top" #top>

  <div class="container">

    <div class="filters-container mb-20">

      <!-- <form [formGroup]="filtersForm" class="mt-20">


        <div class="row">

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Search</mat-label>
              <input matInput formControlName="search" type="text">
              <mat-icon matSuffix *ngIf="!filtersForm.controls.search.value">search</mat-icon>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filtersForm.controls.search.value"
                (click)="cleanSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Sort</mat-label>
              <mat-select formControlName="sort">
                <mat-option *ngFor="let sort of sortFilter" [value]="sort.id">
                  {{ sort.label }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>sort</mat-icon>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Price</mat-label>
              <mat-select formControlName="price">
                <mat-option (click)="cleanPrice()">-- None --</mat-option>
                <mat-option *ngFor="let price of priceFilter" [value]="price.id">
                  {{ price.label }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Category</mat-label>
              <mat-select formControlName="category" multiple>
                <mat-option (click)="cleanCategory()">-- None --</mat-option>
                <mat-option *ngFor="let category of categoryFilter" [value]="category.id">
                  {{ category.label }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>category</mat-icon>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Items per page</mat-label>
              <mat-select formControlName="ipp">
                <mat-option (click)="cleanIpp()">-- None --</mat-option>
                <mat-option *ngFor="let ipp of itemsPerPageFilter" [value]="ipp.id">
                  {{ ipp.label }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>list</mat-icon>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="standard">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" multiple>
                <mat-option *ngFor="let status of statusFilter" [value]="status.id">
                  {{ status.label }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>check</mat-icon>
            </mat-form-field>
          </div>

        </div>


        <br>

        <button mat-raised-button type="button" color="primary" (click)="applyFilters()">Apply filters</button>
        <button mat-raised-button type="button" color="accent" (click)="resetFilters()">Re-init filters</button>

      </form> -->
    </div>

    <section class="mt-20 txt-r" *ngIf="pagination">
      <div class="items-found">
        <span class="items-nbr">{{ pagination?.total_items }}</span>
        <span class="items-nbr-label">items found</span>
      </div>
    </section>

    <section *ngIf="pagination" class="mb-50">

      <div class="row">
        <div
          *ngFor="let artwork of artworksList$ | async | paginate: { id: 'artworks-pagination', itemsPerPage: pagination?.limit, currentPage: currentFilters.page, totalItems: pagination?.total_items }"
          class="artwork">
          <app-artwork-card [artwork]="artwork"></app-artwork-card>
        </div>
      </div>

      <div class="pagination">
        <div class="paging-controls">
          <pagination-controls id="artworks-pagination" (pageChange)="changePage($event)"></pagination-controls>
        </div>
      </div>

    </section>

  </div>
</div>