<div class="filters-form-container">

  <form class="mt-20" [formGroup]="filtersForm">

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sort</mat-label>
      <mat-select formControlName="sort">
        <mat-option *ngFor="let sort of sortFilter" [value]="sort.id">
          {{ sort.label }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>sort</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <mat-select formControlName="price">
        <mat-option *ngFor="let price of priceFilter" [value]="price.id">
          {{ price.label }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" multiple>
        <mat-option *ngFor="let category of categoryFilter" [value]="category.id">
          {{ category.label }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>category</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Items per page</mat-label>
      <mat-select formControlName="ipp">
        <mat-option *ngFor="let ipp of itemsPerPageFilter" [value]="ipp.id">
          {{ ipp.label }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>list</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" multiple>
        <mat-option *ngFor="let status of statusFilter" [value]="status.id">
          {{ status.label }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>check</mat-icon>
    </mat-form-field>

    <br>

    <button mat-raised-button type="button" class="grey-btn" (click)="submitForm()" [disabled]="isLoading">
      Apply filters
    </button>

  </form>

  <br>

  <div class="action-btns txt-r">
    <button mat-mini-fab type="button" class="grey-btn grey-btn-round" (click)="resetFilters()" [disabled]="isLoading"
      matTooltip="Reset filters">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>

    &nbsp;

    <button mat-mini-fab type="button" class="grey-btn" (click)="clearAllFilters()" [disabled]="isLoading"
      matTooltip=" Clear all filters">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</div>