.filters-form-container {
  padding: 0 20px;
}

form > * {
  width: 100%;
}

.grey-btn {
  background: linear-gradient(133deg, rgba(96, 125, 139, 1) 0%, rgba(57, 80, 92, 1) 42%, rgba(25, 39, 46, 1) 100%);
  color: white;
}
