.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;

  height: 60px;
  box-shadow: 0 4px 2px -2px #c6c6c6;

  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.artsper-logo {
  height: 50px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.artsper-logo:hover {
  transform: scale(0.9);
}

.large-menu {
  display: block;
}

.sm-menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .large-menu {
    display: none;
  }

  .sm-menu {
    display: block;
  }
}
