.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;

  height: 60px;
  box-shadow: 0 4px 2px -2px #c6c6c6;

  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.artsper-logo {
  height: 50px;
}
