<div class="container">

  <mat-card class="login-card">
    <h1 class="mb-50 txt-c">ARTSPER</h1>

    <form class="mt-50" [formGroup]="loginForm">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <br>

      <div class="submit-container txt-c">
        <button mat-raised-button type="submit" color="accent" class="login-btn" *ngIf="!isLoading"
          [disabled]="!loginForm.valid" (click)="login()">
          Login
        </button>

        <div style="width: 100%; margin: auto;" *ngIf="isLoading === true">
          <mat-spinner color="warn" diameter="50"></mat-spinner>
        </div>

      </div>

    </form>

  </mat-card>

</div>