<div class="login-full-height-container" [defaultImage]="loginBackground" [lazyLoad]="loginBackground">
  <div class="container">
    <div class="bg-content">
      <div class="bg-content-middle animate__animated animate__fadeIn">

        <mat-card class="login-card">
          <img [defaultImage]="artsperLogo" [lazyLoad]="artsperLogo" alt="Artsper" class="login-card-logo">

          <div class="login-info">
            To log in Artsper's website, please provide your <strong>email</strong> and <strong>password</strong>
          </div>

          <form [formGroup]="loginForm" class="login-form">

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <br>

            <div class="submit-container txt-c mb-30">
              <button mat-raised-button type="submit" class="login-btn" *ngIf="!isLoading" [disabled]="!loginForm.valid"
                (click)="login()">
                Login
              </button>

              <div class="loader-container animate__animated animate__fadeIn" *ngIf="isLoading === true">
                <mat-spinner color="warn" diameter="50" class="login-spinner"></mat-spinner>
              </div>
            </div>

          </form>
        </mat-card>

      </div>
    </div>
  </div>
</div>