<div class="home-full-height-container" [defaultImage]="homeBackground" [lazyLoad]="homeBackground">
  <div class="bg-content">
    <div class="bg-content-middle">

      <div class="container">
        <img [defaultImage]="artsperLogo" [lazyLoad]="artsperLogo"
          class="artsper-logo artwork-card animate__animated animate__zoomIn">
        <h1 class="home-title">Buy from the best contemporary art galleries</h1>
        <h3 class="home-subtitle">More than 130,000 Artworks and 15,000 Artists</h3>
        <button mat-raised-button class="home-btn" [routerLink]="['/catalogue']">See our catalog</button>
      </div>

    </div>
  </div>
</div>