<div class="pnf-full-height-container" [defaultImage]="pnfBackground" [lazyLoad]="pnfBackground">
  <div class="container">
    <div class="bg-content">
      <div class="bg-content-middle animate__animated animate__fadeIn">
        <div class="container">

          <div class="pnf-container">
            <h1 class="pnf-404">404</h1>
            <h3 class="pnf-subtitle">The page could not be found!</h3>
            <button mat-raised-button class="pnf-button" [routerLink]="['/home']">
              Go back to the Home page
              <mat-icon>home</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>