<mat-card class="artwork-card animate__animated animate__fadeIn">

  <div class="coupon" *ngIf="artwork?.promotion">
    <app-discount [promotion]="promotion"></app-discount>
  </div>

  <img [defaultImage]="artworkImg" [lazyLoad]="artworkImg" [errorImage]="errorImg" class="artwork-img">
  <div class="artwork-info mt-10">
    <p class="artwork-txt">Title: {{ title }}</p>
    <p class="artwork-txt">Artist: {{ artist }}</p>
    <p class="artwork-txt">Category: {{ category }}</p>
    <p class="artwork-txt">Dimensions: {{ dimensions }}</p>
    <p class="artwork-txt">Price: {{ price }}</p>
    <div class="actions">
      <button mat-icon-button matTooltip="More information" (click)="artworkDetails(artwork)">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </div>
</mat-card>