<div class="container">

  <div class="filters-container mt-20 mb-20">

    <form [formGroup]="filtersForm" class="mt-20">

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput formControlName="search" type="text">
        <mat-icon matSuffix *ngIf="!filtersForm.controls.search.value">search</mat-icon>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="filtersForm.controls.search.value"
          (click)="cleanSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select formControlName="sort">
          <mat-option (click)="cleanSort()">-- None --</mat-option>
          <mat-option *ngFor="let sort of sortFilter" [value]="sort.id">
            {{ sort.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>sort</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <mat-select formControlName="price">
          <mat-option (click)="cleanPrice()">-- None --</mat-option>
          <mat-option *ngFor="let price of priceFilter" [value]="price.id">
            {{ price.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" multiple>
          <mat-option (click)="cleanCategory()">-- None --</mat-option>
          <mat-option *ngFor="let category of categoryFilter" [value]="category.id">
            {{ category.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>category</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Items per page</mat-label>
        <mat-select formControlName="ipp">
          <mat-option (click)="cleanIpp()">-- None --</mat-option>
          <mat-option *ngFor="let ipp of itemsPerPageFilter" [value]="ipp.id">
            {{ ipp.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>list</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-option (click)="cleanStatus()">-- None --</mat-option>
          <mat-option *ngFor="let status of statusFilter" [value]="status.id">
            {{ status.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>check</mat-icon>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" multiple>
          <mat-option (click)="cleanStatus()">-- None --</mat-option>
          <mat-option *ngFor="let status of statusFilter" [value]="status.id">
            {{ status.label }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>check</mat-icon>
      </mat-form-field> -->

      <br>

      <button mat-raised-button type="button" color="primary" (click)="applyFilters()">Apply filters</button>
      <button mat-raised-button type="button" color="accent" (click)="initAllFilters()">Re-init filters</button>
      <button mat-raised-button type="button" (click)="logout()">Logout</button>

    </form>
  </div>

  <div *ngIf="artworksList !== null" class="row">
    <div *ngFor=" let artwork of artworksList; let i=index" class="artwork">
      <app-artwork-card [artwork]="artwork"></app-artwork-card>
    </div>
  </div>

</div>